:root {
	--header-bgcolor: rgb(1, 78, 1);
	--header-fontcolor: whitesmoke;
	--header-nav-inactive: rgb(123, 123, 123);
	--bg-color: #f7efe5;
	--color: orange;
	--title-color: green;
	--divider-line: rgb(101, 76, 29);
	--margin-inactive-color: rgb(255, 98, 0);
	--margin-active-color: red;
	--box-text: teal;
	--text-p: rgb(123, 92, 34);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,h1,h2,div,button,ul,li,main,header,nav,p {
	font-family:sans-serif;
}

body {
	background-color:var(--bg-color);
}

header {
	background-color: var(--header-bgcolor);
	padding: 30px;
	height: 130px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: space-evenly;
}

h1 {
	font-size: 300%;
	color: var(--header-fontcolor);
	font-weight: bold;
}

nav {
	width: 100%;
}

nav ul {
	padding: 5px;
	font-size: 150%;
	display: flex;
	justify-content: space-evenly;
	color: var(--header-fontcolor);
	list-style-type: none;
}

nav ul a {
	color: var(--header-nav-inactive);
	text-decoration: underline;
}

nav ul a:hover{
	color: var(--title-color);
	cursor: alias;
	background-color: var(--header-fontcolor);
}

/* Background Image */
.center {
	object-fit: cover;
	width: 100%;
	height: 150px;
}

/* Make a block to divide it in two sections */
.block {
	display: flex;
	flex: wrap;
	height:20%;
	margin: 10px;
}

.titles {
	text-align: right;
	color: var(--title-color);
	font-size: 50px;
	width: 25%;
	margin: 10px;
}

.content {
	display: inline-block;
	margin: 10px;
	width: 70%;
	color: var(--text-p);
	font-size: 20px;
	text-align: left;
}

.divider {
	border-left:5px solid var(--divider-line);
	padding: 20px;
}

button {
	display: flex;
	border: 10px var(--margin-inactive-color) solid;
	border-radius: 12px;
	background-size: cover;
	background-position: cover;
	min-width: 100%;	
	min-height: 50vh;
	cursor: pointer;
	filter: grayscale(80%);
	position: static;
	margin-bottom: 10px;
	
}

button:hover {
	filter: grayscale(0%);
	border: 10px var(--margin-active-color) solid;
	cursor: pointer;
}


.text {
	color: rgb(255, 255, 255); 
	font-size: 30px; 
	background-color: var(--box-text);
	position: absolute; 
	bottom: 8px; 
	left: 3px;
	text-wrap: wrap;
}


.two_blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.two_blocks a {
	width: 49%;
}


.fa {
	padding: 20px;
  font-size: 30px;
	height: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 12px;
}

.fa:hover{
	opacity: 0.7;
}

.fa-facebook {
	background:  #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-envelope {
	background: red;
	color: white;
}

.fa-github {
	background: black;
	color: white;
}

.fa-spotify {
	background: green;
	color: white;
}

@media screen and (max-width: 769px){
	header {
		flex-direction: column;	
	}

	.block {
		flex-direction: column;
	}
	.titles {
		text-align: center;
		width: 100%;
	}

	.content {
		text-align: center;
	}
	.divider {
		border-left: 0px;
		border-top:5px solid var(--divider-line);
		padding: 20px;
		width: 100%;
	}

	.two_blocks {
		flex-direction: column;
	}

	.two_blocks a {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	header{
		flex-direction: column;	
	}
}